<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timerInterval</key>
	<string>60</string>
	<key>updating</key>
	<true/>
	<key>enabled</key>
	<true/>
	<key>executeOnStartup</key>
	<false/>
	<key>startOnSystemStartup</key>
	<false/>
	<key>requiredSignalStrength</key>
	<integer>-20</integer>
</dict>
</plist>
